@model List<IndexUserNameViewModel>
@{
    ViewData["Title"] = "مدیریت کاربران";
}


@if (!Model.Any())
{
    <h1>کاربری یافت نشد</h1>
}
else
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="card mt-2">
            <div class="card-header">
                 @Html.DisplayNameFor(model =>model[0].UserName)<b>@Model[i].UserName</b>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>@Html.DisplayNameFor(model => model[0].Email) :<b>@Model[i].Email</b></div> 
                    <div>@Html.DisplayNameFor(model => model[0].PhoneNumber) :<b>@Model[i].PhoneNumber</b></div>
                </div>
                
            </div>
            <div class="card-footer">
                <form asp-controller="ManageUser" asp-action="DeleteUser" asp-route-id="@Model[i].Id" method="post">

                    <a asp-controller="ManageUser" asp-action="EditUser" asp-route-id="@Model[i].Id"
                       class="btn btn-primary">ویرایش</a>

                    <a asp-controller="ManageUser" asp-action="AddUserToRole" asp-route-id="@Model[i].Id"
                       class="btn btn-primary">افزودن مقام</a>
                    <a asp-controller="ManageUser" asp-action="RemoveUserFromRole" asp-route-id="@Model[i].Id"
                       class="btn btn-danger">حذف مقام</a>
                    <a asp-controller="ManageUser" asp-action="AddUserToClaim" asp-route-id="@Model[i].Id" class="btn btn-primary">افزودن claim</a>
                    <a asp-controller="ManageUser" asp-action="RemoveUserFromClaim" asp-route-id="@Model[i].Id"
                       class="btn btn-danger">حذف claim</a>
                    <button type="submit" class="btn btn-danger">حذف کاربر</button>
                </form>
            </div>
        </div>
    }
}