@model LoginModel
@{
    ViewData["title"] = "ورود";
}
<div>
    <form asp-controller="Accounts" asp-action="Login" asp-route-returnUrl="@ViewData["returnUrl"]" method="post">
        @if (ViewData["errormessage"] != null)
        {
            <div class="text-danger">@ViewData["errormessage"]</div>
        }
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="username" class="form-label"></label>
            <input asp-for="username" class="form-control">
            <span asp-validation-for="username" class="form-text"></span>
        </div>
        <div class="mb-3">
            <label asp-for="password" class="form-label"></label>
            <input asp-for="password" class="form-control">
            <span asp-validation-for="password" class="form-text"></span>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="rememberme" class="form-check-input">
            <label class="form-check-label" asp-for="rememberme"></label>
        </div>
        <button type="submit" class="btn btn-primary">ورود</button>
    </form>

    <div class="row mb-3">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <h5 class="font-medium m-b-20" style="font-size: 16px">یا ورود با استفاده از اکانت :</h5>
            @{
                if (Model != null)
                {
                    if (!Model.ExternalLogins.Any())//existence of external logins
                    {
                        <div>در حال حاضر امکان ورود با اکانت های دیگر وجود ندارد</div>
                    }
                    else
                    {
                        <form method="post" asp-controller="Accounts" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                            <div class="social">
                                @foreach (var provider in Model.ExternalLogins)
                                {

                                    <button type="submit" value="@provider.Name"
                                            class="btn btn-primary" name="provider"
                                            title="ورود با استفاده از اکانت @provider.DisplayName ">
                                        @provider.DisplayName
                                    </button>

                                }
                            </div>
                        </form>
                    }
                }
               

            }
        </div>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
