@model ProductViewModel
@{
    ViewData["title"] = "جزئیات محصول";
}
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ImgUrl)
    </dt>
    <dd class="col-sm-10">
        <img src="@Html.DisplayFor(model => model.ImgUrl)" width="150" height="150" />
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LongDescription)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LongDescription)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VisitCount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VisitCount)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BuyCount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BuyCount)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.quantityinstock)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.quantityinstock)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Price)
    </dd>
</dl>
<input id="count" type="number" min="1" value="1"/>
<a id="addtocart" class="btn btn-primary">افزودن به سبد خرید</a>
<span id="msg"></span>
@section Scripts
{<script type="text/javascript">
     $(document).ready(function() {
         $('#addtocart').click(function() {
             let aj = {
                 productid :@Model.ProductId,
                 count : $('#count').val()
             };
             $.ajax({
                 type: "POST",
                 url: "/api/addtocart",
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 data: JSON.stringify(aj),
                 success: function (data) {
                     $('#msg').html(data.Message);
                 }
                 , error: function (xhr,errormesage,errorthrown) {
                     if (xhr.status == 401) {
                        window.location.href = "/accounts/login";
                     }
                 }
             });

         });
     });
</script>}

